# Database Configuration
DATABASE_URL="postgresql://shopquiet_db_k8wu_user:Y7LiEzqEXZezmICMeevtclaMfa7AMa88@dpg-d9aqb3ojs32c73a6uhe0-a.singapore-postgres.render.com/shopquiet_db_k8wu?sslmode=require"
DIRECT_URL="postgresql://shopquiet_db_k8wu_user:Y7LiEzqEXZezmICMeevtclaMfa7AMa88@dpg-d9aqb3ojs32c73a6uhe0-a.singapore-postgres.render.com/shopquiet_db_k8wu?sslmode=require"

# JWT Configuration
JWT_SECRET="shopquiet_super_secure_jwt_secret_key_2026"

# Keycloak Configuration
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=shopquiet

# Admin Configuration
ADMIN_PASSWORD_HASH=$2b$10$wU1guN7Cu2MvzllIm3UVte7ZhOegytSc54AEqappWzPkkuvstnBXO

# Zalo Configuration
ZALO_APP_ID=
ZALO_APP_SECRET="hGNtMqkmTlK5lEXNY34d"

# Node Environment
NODE_ENV=development
